---
layout: page
tagline:
---

{% for post in paginator.posts %}



<article class="home">




  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>

</article>
{% endfor %}
<hr/>

<ul class="pager"> 

  {% if paginator.previous_page %}
  <li class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.BASE_PATH }}/">&larr; Newer</a>
    {% else %}
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; Newer</a>
    {% endif %}
  </li>
  {% else %}
  <li class="previous disabled">
    <a>&larr; Newer</a>
  </li>
  {% endif %}
  
  <li>
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">Older &rarr;</a>
  </li>
  {% else %}
  <li class="next disabled">
    <a>Older &rarr;</a>        
  </li>
  {% endif %}

</ul>

<!-- <head>
  <title>36氪帐号中心</title>
  <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://passport.36kr.com/assets/particles-2530ed4fc0e9fd3f0a38712d3bd82b90.js"></script>
  <link href="https://passport.36kr.com/assets/application-908eb05e99875ed6b861b89d24fb71bc.css" media="all" rel="stylesheet">
  <script src="https://passport.36kr.com/assets/application-f587448067973ba1eb33f23bea315424.js"></script>
  <!-- <script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script> -->
  <!-- head-meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="/favicon.ico">

<!-- Info -->
<meta name="author" content="36Kr">
<meta name="description" content="不错过任何一个新产品">
<meta name="keywords" content="NEXT，新产品，创业，互联网产品，Startup">
<link rel="author" href="/humans.txt">

<!--iOS -->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-title" content="Title">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- Prefetch -->
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//google-analytics.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//platform.twitter.com">


  <meta content="authenticity_token" name="csrf-param">
<meta content="A7L6oBwclWD3b7n6b88FTBSyLxguAzwK2jSi2vYYHtM=" name="csrf-token">
  <style type="text/css" id="hot_style_patch">
    .main-wechat{ padding-top: 45px !important}
.done, .alert { position: static !important}

  </style>
</head>
<body class="welcome-index ">
<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  <div id="particles-js"><canvas width="1269" height="411" style="width: 100%; height: 100%;"></canvas></div> -->
